@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

@font-face {
  font-family: Neo_Sans;
  src: url("../fonts/Neo Sans Arabic Regular.ttf");
}
body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

.slider-item:focus {
  outline: 0 !important;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.pagination-parent {
  position: relative;
  margin-top: 50px;
}

.pagination {
  position: absolute;
  width: 100%;
  overflow: auto;
}
.pagination .page-item .page-link {
  border: 0;
  background-color: #f7f7f7;
  color: #000;
  font-size: 14px;
  margin: 5px;
  border-radius: 50%;
}
.pagination .page-item .active {
  background-color: #38a9e0;
  color: #fff;
}

.path {
  padding: 96px 0 96px 0;
  position: relative;
  text-align: center;
}
.path h5 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  position: relative;
  z-index: 2;
}
.path::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(33, 34, 63, 0.7);
}

.top-header {
  border-bottom: 1px solid #9493933a;
}
.top-header .info {
  line-height: 30px;
  padding: 5px;
}
.top-header .info span {
  margin-left: 5px;
  font-size: 14px;
  color: #4b5981;
}
.top-header .info span i {
  color: #4b5981;
}
.top-header .info .mail-span {
  border-right: 1px solid #ddd;
  padding-right: 10px;
  color: #4b5981;
}
.top-header .lang-social {
  line-height: 30px;
  padding: 5px;
  text-align: left;
}
.top-header .lang-social .social {
  padding-right: 10px;
}
.top-header .lang-social .social a i {
  color: #aeaeae;
  margin-right: 15px;
  font-size: 15px;
}
.top-header .lang-social .social a i:hover {
  color: #38a9e0;
}

.navbar {
  background-color: #fff;
}
.navbar .navbar-brand img {
  width: 103px;
  max-height: 42px;
}
.navbar .navbar-nav .nav-item {
  margin-right: 20px;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #000;
  height: 60px;
  line-height: 45px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #38a9e0;
}
.navbar .navbar-nav .active .nav-link {
  color: #38a9e0;
}
.navbar .navbar-nav .appointment {
  width: 188px;
  background-color: #38a9e0;
  text-align: center;
  border-radius: 30px;
  margin-left: 20px;
}
.navbar .navbar-nav .appointment .nav-link {
  color: #fff;
}
.navbar .navbar-nav .appointment .nav-link:hover {
  color: #fff;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: #38a9e0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav .sidenav-links {
  margin-top: 40px;
}
.sidenav a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 1px solid rgba(116, 114, 114, 0.1);
  text-align: center;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav a:hover {
  background-color: #38a9e0;
}
.sidenav .active {
  background-color: #38a9e0;
}
.sidenav .closebtn {
  position: absolute;
  border: 0;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .closebtn:hover {
  background-color: transparent;
}

.header {
  position: relative;
  padding-top: 119px;
  padding-bottom: 120px;
}
.header::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(33, 34, 63, 0.7);
}
.header .header-content {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 2;
}
.header .header-content h5 {
  font-size: 64px;
}
.header .header-content h5 span {
  font-size: 32px;
}
.header .header-content p {
  font-size: 18px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.header .header-content .btn {
  width: 160px;
  height: 60px;
  background-color: #38a9e0;
  color: #fff;
  line-height: 45px;
  margin: 10px;
  border-radius: 30px;
}
.header .header-content .btn:last-child {
  background-color: transparent;
  border: 1px solid #fff;
}
.header .header-content .btn:hover {
  background-color: #fff;
  color: #38a9e0;
}

.features {
  margin-top: -100px;
}
.features .features-parent {
  background-color: #fff;
  box-shadow: 0 15px 40px rgba(11, 9, 64, 0.15);
  padding: 50px;
  border-radius: 25px;
  position: relative;
  z-index: 9;
}
.features .features-parent .card {
  border: 0;
  border-left: 1px solid #eee;
  border-radius: 0;
  margin-bottom: 20px;
}
.features .features-parent .card .card-img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.features .features-parent .card .card-img img {
  width: auto;
  height: auto;
}
.features .features-parent .card .card-body {
  padding-right: 100px;
}
.features .features-parent .card .card-body .card-title {
  font-size: 18px;
  color: #38a9e0;
  margin: 0;
}
.features .features-parent .card .card-body .card-text {
  margin: 0;
  color: #495057;
  font-size: 14px;
  margin-top: 13px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.features .features-parent .card:last-child {
  border-left: 0;
}

.about-clinic {
  background-color: #f5f7fb;
  padding-top: 220px;
  padding-bottom: 130px;
  margin-top: -140px;
  position: relative;
}
.about-clinic .about-img {
  margin-top: 90px;
}
.about-clinic .about-img img {
  max-height: 358px;
  max-width: 445px;
}
.about-clinic .about-content .head {
  font-size: 107px;
  opacity: 0.6;
  font-weight: bold;
  color: #e4e8ef;
}
.about-clinic .about-content .about-content_h5 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 23px;
}
.about-clinic .about-content .about-content_p {
  font-size: 14px;
  color: #495057;
  line-height: 25px;
  margin-bottom: 30px;
}
.about-clinic .about-content .card {
  background-color: transparent;
  border: 0;
  margin-bottom: 20px;
}
.about-clinic .about-content .card .card-title,
.about-clinic .about-content .card .card-text {
  margin: 0;
}
.about-clinic .about-content .card .card-title {
  color: #38a9e0;
  font-size: 24px;
}
.about-clinic .about-content .card .card-text {
  font-size: 16px;
  color: #495057;
}
.about-clinic .about-content .btn {
  background-color: #38a9e0;
  color: #fff;
  width: 188px;
  border-radius: 30px;
  height: 50px;
  line-height: 35px;
  margin-top: 38px;
}
.about-clinic .about-content .btn:hover {
  background-color: #fff;
  color: #38a9e0;
}

.majors {
  margin-top: 76px;
}
.majors .major-head {
  text-align: center;
  margin-bottom: 26px;
}
.majors .major-head h6 {
  font-size: 107px;
  opacity: 0.6;
  font-weight: bold;
  color: #e4e8ef;
  margin: 0;
}
.majors .major-head h5 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 23px;
  width: 50%;
  margin: 0;
  margin: auto;
}
.majors .slider-bottom {
  background-color: #fcfcfe;
  border-radius: 25px;
  border: 1px solid #d9dfeb;
}
.majors .slider-bottom .item-slide:focus {
  outline: 0 !important;
}
.majors .slider-bottom .item-slide .card {
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  border: 0;
  background-color: transparent;
  border-left: 1px solid #ddd;
  border-radius: 0;
}
.majors .slider-bottom .item-slide .card img {
  width: auto;
  height: auto;
  margin: auto;
}
.majors .slider-bottom .item-slide .card .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
}
.majors .slider-bottom .slick-current {
  background-color: #38a9e0;
  border-left: 0 !important;
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}
.majors .slider-bottom .slick-current img {
  filter: brightness(0) invert(1);
}
.majors .slider-bottom .slick-current .card {
  border-left: 0 !important;
}
.majors .slider-bottom .slick-current .card-title {
  color: #fff;
}
.majors .slider-top {
  margin-top: 50px;
}
.majors .slider-top .item-slide {
  direction: rtl;
}
.majors .slider-top .item-slide .major-img img {
  max-height: 358px;
  max-width: 521px;
}
.majors .slider-top .item-slide .major-content {
  margin-top: 80px;
}
.majors .slider-top .item-slide .major-content h5 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.majors .slider-top .item-slide .major-content p {
  font-size: 14px;
  color: #495057;
  line-height: 30px;
}

.our-services {
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  margin-top: 110px;
}
.our-services .our-serv-header {
  text-align: center;
  margin-bottom: 32px;
  position: relative;
  z-index: 3;
}
.our-services .our-serv-header h6 {
  font-size: 107px;
  opacity: 0.6;
  font-weight: bold;
  color: #e4e8ef;
  margin: 0;
}
.our-services .our-serv-header h5 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 23px;
  width: 50%;
  margin: 0;
  margin: auto;
  color: #fff;
}
.our-services .serv-card {
  background-color: rgba(55, 69, 102, 0.2);
  border-radius: 25px;
  text-align: center;
  padding: 30px;
  border: 1px solid #d9dfeb;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}
.our-services .serv-card .card-img {
  height: 100px;
}
.our-services .serv-card .card-img img {
  width: auto;
  height: auto;
}
.our-services .serv-card .card-title {
  margin-top: 26px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}
.our-services .serv-card .card-text {
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.our-services .serv-card:hover {
  background-color: #38a9e0;
  border: 1px solid #38a9e0;
}
.our-services .btn-more {
  text-align: center;
}
.our-services .btn {
  background-color: #38a9e0;
  color: #fff;
  width: 188px;
  border-radius: 30px;
  height: 50px;
  line-height: 35px;
  margin-top: 58px;
}
.our-services .btn:hover {
  background-color: #fff;
  color: #38a9e0;
}

.clinic-team {
  margin-top: 100px;
}
.clinic-team .clinic-header {
  text-align: center;
  margin-bottom: 36px;
  position: relative;
  z-index: 3;
}
.clinic-team .clinic-header h6 {
  font-size: 107px;
  opacity: 0.6;
  font-weight: bold;
  color: #e4e8ef;
  margin: 0;
}
.clinic-team .clinic-header h5 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 23px;
  width: 50%;
  margin: 0;
  margin: auto;
  color: #000;
}
.clinic-team .clinic-cards .team-card {
  text-align: center;
  margin-bottom: 20px;
}
.clinic-team .clinic-cards .team-card .card-img {
  border: 0;
  margin-bottom: 23px;
  border: 1px solid #ddd;
  border-radius: 23px;
}
.clinic-team .clinic-cards .team-card .card-img img {
  max-height: 304px;
  max-width: 255px;
  border-radius: 23px;
}
.clinic-team .clinic-cards .team-card .card-title {
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.clinic-team .clinic-cards .team-card .card-text {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.clinic-team .btn-more {
  text-align: center;
}
.clinic-team .btn {
  background-color: #38a9e0;
  color: #fff;
  width: 188px;
  border-radius: 30px;
  height: 50px;
  line-height: 35px;
  margin-top: 58px;
}
.clinic-team .btn:hover {
  background-color: #fff;
  color: #38a9e0;
  border: 1px solid #38a9e0;
}

.blogs {
  background-color: #f5f7fb;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 83px;
}
.blogs .blog-header {
  text-align: center;
  margin-bottom: 36px;
  position: relative;
  z-index: 3;
}
.blogs .blog-header h6 {
  font-size: 107px;
  opacity: 0.6;
  font-weight: bold;
  color: #e4e8ef;
  margin: 0;
}
.blogs .blog-header h5 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 23px;
  width: 50%;
  margin: 0;
  margin: auto;
  color: #000;
}
.blogs .blog-card {
  margin-bottom: 20px;
}
.blogs .blog-card .card-img img {
  border-radius: 33px;
  margin-bottom: 20px;
}
.blogs .blog-card .time {
  margin-bottom: 16px;
}
.blogs .blog-card .time span {
  font-size: 14px;
  color: #98a7b5;
}
.blogs .blog-card .time span::after {
  content: "|";
  margin-right: 5px;
}
.blogs .blog-card .time span:last-child {
  padding-right: 5px;
}
.blogs .blog-card .time span:last-child::after {
  content: "";
}
.blogs .blog-card .card-title {
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #38a9e0;
  margin-bottom: 14px;
}
.blogs .blog-card .card-text {
  font-size: 14px;
  margin-bottom: 28px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blogs .blog-card .card-link {
  font-size: 14px;
  color: #38a9e0;
}
.blogs .btn-more {
  text-align: center;
}
.blogs .btn {
  background-color: #38a9e0;
  color: #fff;
  width: 188px;
  border-radius: 30px;
  height: 50px;
  line-height: 35px;
  margin-top: 58px;
}
.blogs .btn:hover {
  background-color: #fff;
  color: #38a9e0;
  border: 1px solid #38a9e0;
}

.subscripe {
  background-color: #38a9e0;
  padding: 60px 0 60px 0;
  text-align: center;
}
.subscripe h5 {
  font-size: 32px;
  margin: auto;
  margin-bottom: 33px;
  width: 50%;
  color: #fff;
}
.subscripe p {
  font-size: 14px;
  margin: auto;
  margin-bottom: 33px;
  width: 60%;
  color: #fff;
}
.subscripe .input-group {
  width: 50%;
  margin: auto;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
}
.subscripe .input-group .form-control {
  height: 60px;
  border-radius: 30px;
  border: 0;
}
.subscripe .input-group .input-group-text {
  height: 60px;
  border-radius: 30px;
  background-color: #38a9e0;
  color: #fff;
}
.subscripe .input-group .input-group-text:focus {
  outline: 0;
}

.compines {
  margin-top: 61px;
}
.compines .companies-slider .slider-item {
  margin: 10px;
}
.compines .companies-slider .slider-item img {
  filter: grayscale(1);
  max-height: 54px;
  max-width: 160px;
  margin: auto;
}

.blog-details {
  margin-top: 58px;
}
.blog-details .blog-details-content .blog-details-content-header {
  font-size: 28px;
  line-height: 35px;
}
.blog-details .blog-details-content .date {
  font-size: 16px;
}
.blog-details .blog-details-content .blog-details-content-img {
  margin-top: 18px;
}
.blog-details .blog-details-content .blog-details-content-img img {
  max-height: 411px;
  border-radius: 17px;
}
.blog-details .blog-details-content .blog-details-content-par {
  margin-top: 45px;
}
.blog-details .blog-details-content .blog-details-content-par p {
  line-height: 30px;
  color: #707070;
  font-size: 16px;
}
.blog-details .blog-details-content .gallery {
  margin-top: 45px;
}
.blog-details .blog-details-content .gallery .card-img {
  height: 175px;
  margin-bottom: 20px;
  position: relative;
}
.blog-details .blog-details-content .gallery .card-img .overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(237, 102, 99, 0);
  opacity: 0;
}
.blog-details .blog-details-content .gallery .card-img .overlay a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
}
.blog-details .blog-details-content .gallery .card-img:hover .overlay {
  background-color: rgba(237, 102, 99, 0.8);
  opacity: 1;
}
.blog-details .blog-details-content .words {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-details .blog-details-content .words ul li {
  display: inline-block;
  background-color: #f8f8f8;
  border: 1px solid #d8d8d8;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
}
.blog-details .blog-details-content .words ul li a {
  color: #707070;
  text-decoration: none;
}
.blog-details .blog-details-content .words ul li:hover {
  background-color: #38a9e0;
}
.blog-details .blog-details-content .words ul li:hover a {
  color: #fff;
}
.blog-details .blog-details-content .words .social {
  text-align: left;
}
.blog-details .blog-details-content .words .social a i {
  width: 29px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  border: 1px solid #888;
  border-radius: 50%;
  color: #707070;
  transition: all 0.2s ease;
  background-color: #fff;
  margin: 5px;
  font-size: 13px;
}
.blog-details .blog-details-content .words .social a:hover i {
  background-color: #38a9e0;
  border: 1px solid #38a9e0;
  color: #fff;
}
.blog-details .blog-details-content .blogs {
  margin-top: 30px;
}
.blog-details .blog-details-content .blogs .can-see {
  color: #38a9e0;
  margin-bottom: 20px;
}
.blog-details .sidepar .words li {
  float: right;
  margin: 10px;
}
.blog-details .sidepar .words li a {
  background-color: #e5e5e5;
  border-radius: 19px;
  color: #707070;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
}
.blog-details .sidepar .sub .card {
  background-color: #38a9e0;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border: 0;
  margin-top: 60px;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}
.blog-details .sidepar .sub .card .envelope {
  position: absolute;
  max-width: 183px;
}
.blog-details .sidepar .sub .card h5 {
  font-size: 18px;
  color: #fff;
  position: relative;
  font-weight: bold;
}
.blog-details .sidepar .sub .card p {
  font-size: 14px;
  color: #fff;
  z-index: 4;
}
.blog-details .sidepar .sub .card form {
  position: relative;
  z-index: 4;
}
.blog-details .sidepar .sub .card .form-control {
  border-radius: 22px;
  height: 50px;
}
.blog-details .sidepar .sub .card .btn {
  border-radius: 20px;
  border: 1px solid #fff;
  color: #fff;
  width: 148px;
  height: 48px;
  margin-top: 29px;
}

.contact-page {
  margin-top: 70px;
}
.contact-page .contact-content h5 {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 24px;
}
.contact-page .contact-content p {
  font-size: 14px;
}
.contact-page .contact-content .card {
  position: relative;
  padding-right: 20px;
  border-radius: 0;
  background-color: transparent;
  margin-bottom: 20px;
  border: 0;
}
.contact-page .contact-content .card i {
  position: absolute;
  right: 0;
  color: #38a9e0;
  top: 50%;
  transform: translate(0, -50%);
}
.contact-page .contact-content .card p {
  font-size: 14px;
  color: #000;
  margin: 0;
}
.contact-page .contact-form {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.contact-page .contact-form .form-control {
  height: 50px;
  border-radius: 37px;
}
.contact-page .contact-form .form-control::placeholder {
  font-size: 14px;
}
.contact-page .contact-form .form-group-text .form-control {
  height: 195px;
}
.contact-page .contact-form .btn {
  background-color: #38a9e0;
  color: #fff;
  border-radius: 0;
  border-radius: 24px;
  width: 135px;
  height: 48px;
  margin-top: 30px;
}
.contact-page .contact-form .btn:hover {
  background-color: #fff;
  border: 1px solid #38a9e0;
  color: #38a9e0;
}

.make-appointemnt-page .make-appointemnt-page-form {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border: 0;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  margin-top: 50px;
  padding: 50px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-header {
  border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-header h5 {
  color: #525252;
  font-weight: bold;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body label {
  font-size: 16px;
  color: #a1a1a1;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .input-group {
  border: 1px solid #c5c5c5;
  border-radius: 23px;
  padding: 5px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .input-group .form-control {
  border: 0;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .input-group .form-control:focus {
  outline: 0;
  box-shadow: none;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .input-group .form-control::placeholder {
  font-size: 15px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .input-group .input-group-text {
  border: 0;
  background-color: transparent;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .input-group .input-group-text i {
  color: #38a9e0;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .form-control {
  border-radius: 37px;
  height: 50px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .form-group {
  margin-bottom: 30px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .form-group .copy {
  color: #38a9e0;
  font-size: 12px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body textarea {
  height: 157px;
  border-radius: 15px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .btn-submit {
  text-align: center;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .btn-submit .btn {
  width: 120px;
  background-color: #38a9e0;
  color: #fff;
  border-radius: 25px;
  margin-top: 31px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .btn-submit .btn:hover {
  background-color: #fff;
  color: #38a9e0;
  border: 1px solid #38a9e0;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .social {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.make-appointemnt-page .make-appointemnt-page-form .card-body .social a i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  color: #ffff;
  text-align: center;
  line-height: 35px;
}
.make-appointemnt-page .fa-facebook-f {
  background-color: #3b5998;
}
.make-appointemnt-page .fa-twitter {
  background-color: #55acee;
}
.make-appointemnt-page .fa-instagram {
  background-color: #6a453b;
}
.make-appointemnt-page .fa-google-plus-g {
  background-color: #dc4e41;
}
.make-appointemnt-page .fa-linkedin-in {
  background-color: #007ab9;
}

footer {
  background-color: #21223f;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 60px;
}
footer .footer-header {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 8px;
}
footer .footer-header::after {
  position: absolute;
  bottom: 0;
  background-color: #02c0d0;
  content: "";
  height: 1px;
  width: 93px;
  right: 0;
}
footer .footer-logo img {
  width: auto;
  max-height: 41px;
}
footer .footer-logo p {
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
}
footer .footer-logo .input-group {
  background-color: #1f2a47;
  border: 1px solid #717274;
  border-radius: 5px;
}
footer .footer-logo .input-group .form-control {
  background-color: transparent;
  border: 0;
  font-size: 13px;
  color: #fff;
}
footer .footer-logo .input-group .form-control::placeholder {
  font-size: 14px;
}
footer .footer-logo .input-group .form-control:focus {
  outline: 0;
  box-shadow: none;
}
footer .footer-logo .input-group .input-group-text {
  background-color: transparent;
  border: 0;
}
footer .footer-logo .input-group .input-group-text i {
  color: #00d3a8;
}
footer .footer-links ul li {
  width: 50%;
  float: right;
  font-size: 14px;
  margin-bottom: 13px;
}
footer .footer-links ul li a {
  color: #fff;
  position: relative;
  padding-right: 13px;
}
footer .footer-links ul li a::after {
  position: absolute;
  font-weight: 900;
  content: "";
  right: 0;
  top: 8px;
}
footer .work-hour .time p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  margin-bottom: 4px;
}
footer .work-hour .time p .holi-day {
  color: #38a9e0;
}
footer .instagram-pic .col-lg-4 {
  padding-right: 5px;
  padding-left: 5px;
}
footer .instagram-pic img {
  max-height: 76px;
  margin-bottom: 6px;
}

.about-who-page {
  margin-top: 0;
  padding-top: 20px;
}

.subscripe-who-page {
  margin-top: 150px;
}

.our-service-page {
  margin-top: 71;
  padding-top: 0;
}
.our-service-page .serv-card {
  background-color: #21223f;
}
.our-service-page .our-serv-page-header {
  text-align: center;
  margin-bottom: 32px;
}
.our-service-page .our-serv-page-header h5 {
  width: 50%;
  margin: auto;
  font-size: 28px;
  color: #98a7b5;
  font-weight: bold;
  line-height: 40px;
}

.clinic-team-in-slider {
  margin-top: 0;
}

.footer-an-page {
  margin-top: 0;
}

.blogs-page .blogs {
  margin-top: 0;
  background-color: transparent;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .top-header .info {
    text-align: center;
  }
  .top-header .lang-social {
    text-align: center;
  }

  .header .header-content p {
    width: 100%;
  }

  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item {
    margin-right: 0;
  }

  .appointment {
    width: auto !important;
  }

  .subscripe h5,
.subscripe p,
.subscripe .input-group {
    width: 100%;
  }

  .blog-details .blog-details-content .words ul li {
    margin-bottom: 5px;
  }

  .blog-details .blog-details-content .words .social {
    text-align: right;
  }

  .make-appointemnt-page .make-appointemnt-page-form {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 524px) {
  .top-header .mail-span {
    display: block;
    border-right: 0 !important;
  }
  .top-header .social i {
    margin-right: 0 !important;
    margin: 15px;
  }

  .features .features-parent .card {
    border-left: 0;
  }

  .majors .major-head h6,
.our-services .our-serv-header h6,
.clinic-team .clinic-header h6,
.blogs .blog-header h6 {
    font-size: 60px;
  }

  .majors .major-head h5,
.our-services .our-serv-header h5,
.clinic-team .clinic-header h5,
.blogs .blog-header h5 {
    width: 100%;
  }

  footer .footer-header {
    margin-top: 25px;
  }
  footer .instagram-pic img {
    max-height: 90px;
  }
}
@media (max-width: 376px) {
  .features .features-parent {
    padding: 20px;
  }
  .features .features-parent .card {
    border-left: 0;
    border-bottom: 1px solid #eee !important;
  }
}
.path, .header, .blog-details .blog-details-content .gallery .card-img {
  background-size: cover;
  background-position: center;
}

footer .footer-links ul li a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
